@page
@model PEPRN231_SU24TrialTest_StudentCode_FE.Pages.WaterPainting.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WatercolorsPainting</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatercolorsPainting.PaintingName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatercolorsPainting.PaintingName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatercolorsPainting.PaintingDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatercolorsPainting.PaintingDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatercolorsPainting.PaintingAuthor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatercolorsPainting.PaintingAuthor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatercolorsPainting.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatercolorsPainting.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatercolorsPainting.PublishYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatercolorsPainting.PublishYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatercolorsPainting.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatercolorsPainting.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WatercolorsPainting.Style)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WatercolorsPainting.Style.StyleId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="WatercolorsPainting.PaintingId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
